@{
    ViewData["Title"] = "Home";
}
<header>
</header>
<div class="text-center">
    <div class="row">
        <div class="col-lg shadow" id="home-featured-posts">
            <h3>Featured posts</h3>
            <p>this area will have thumbnails that link to posts</p>
        </div>
        <div class="col-lg shadow" id="home-gallery">
            <h3>Gallery</h3>
            <p>this area will have photos</p>
        </div>
    </div>
</div>
