@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This will be the landing page for my personal page. It will include a couple photos, and links to project pages, the blog, and social media and professional profiles.</p>
</div>
