@{
    ViewData["Title"] = "Privacy Policy";
}
<p>There is no privacy policy at this time. Think before you click!</p>

@await Html.PartialAsync("_Image", new { fileName = "anon.jpg", classes = "col-6" })
