@model BlogPost

@{
    ViewData["Title"] = "Create Post";
}

<div class="container-fluid">
    <h4>Create a post</h4>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="CreatePost">
                <span asp-validation-for="Title"></span>
                <br>
                <input class="form-control" asp-for="Title" maxlength="100" placeholder="what's on your mind?" />
                <br>
                <span asp-validation-for="Text"></span>
                <br>
                <textarea class="form-control" asp-for="Text" rows="7" cols="25" placeholder="tell me more..."></textarea>
                <br> <br>
                <input class="btn btn-primary" type="submit" value="Post!">
                <button class="btn btn-secondary" asp-action="Index" asp-controller="Blog">Cancel</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}